<h1>Test Landing Page</h1>

<p><%= link_to "Clickety Ticket Landing" ct_CTLanding_path %></p>
<p><%= link_to "Users show" users_show_path %></p>
<p><%= link_to "Users edit" users_edit_path %></p>
<p><%= link_to "Users index" users_index_path %></p>
<p><%= link_to "Users new" users_new_path %></p>